body {
    background-color: rgb(176, 206, 236); 
}

#superior {
    background-color: lightgreen
    font-size: xx-large;
    color: darkgreen;
}
    
 #seccio_1 {
        background-color: lightseagreen;
        color: darkblue;
}

#seccio_1 {
    background-color: lightcoral;
    color: darkred;
}

#seccio_2 {
    background-color: lightblue;
    color: rgb(11, 49, 71);
}

#seccio_3 {
    background-color: rgb(224, 182, 143);
    color: darkorange;
}

#seccio_4 {
    background-color: rgb(233, 233, 183);
    color: rgb(255, 183, 0);
}

#menu {
    display: flex; /* el menú és un contenidor de tipus flex */
    height: 8vmax;
    }
    #menu i{
    flex: 1; /* cada botó pretén ocupar tot l'espai disponible */
    display: flex; /* contenidor flex on centrar-hi la icona */
    justify-content: center;
    align-items: center;
    color: rgb(96, 114, 219);
    background-color: #4dbb91;
    font-size: 5vmax;
    cursor: pointer; /* en ordinadors, indica que s'hi pot fer clic */
    }

    @media (orientation: landscape) {
        body {
        
        flex-direction: row; /* sobreescriu la declaració flex-direction:
        column; */
                flex-flow: row-reverse; /* disposició de dreta a esquerra, per
        mostrar el menú a l'esquerra */
        }
        #superior {
        display: none; /* franja superior oculta per optimitzar l'espai
        */
        }
        #menu {
        flex-direction: column;
        width: 8vmax;
        height: auto; /* sobreescriu la declaració height: 8vmax; */
        }
    }
        