body {
    background-color: rgb(176, 206, 236); 
}

#superior {
    background-color: lightgreen
    font-size: xx-large;
    color: darkgreen;
}
    
 #seccio_1 {
        background-color: lightseagreen;
        color: darkblue;
}

#seccio_1 {
    background-color: lightcoral;
    color: darkred;
}

#seccio_2 {
    background-color: lightblue;
    color: rgb(11, 49, 71);
}

#seccio_3 {
    background-color: rgb(224, 182, 143);
    color: darkorange;
}

#seccio_4 {
    background-color: rgb(233, 233, 183);
    color: rgb(255, 183, 0);
}